{% extends 'main.html' %}

{% block content %}
    <div class="uk-container uk-container-expand uk-margin-left uk-margin-remove-right top-page">
        <ul class="uk-breadcrumb uk-heading-divider">
            <li><a href="/">На главную</a></li>
            <li><a href="/medicine">Лечение в клинике</a></li>
            <li><span>{{ spec.title }}</span></li>
        </ul>
    </div>
    <div class="uk-section uk-padding-remove uk-margin-medium-top">
        <div uk-grid>
            <div class="uk-width-expand page-left-right">
                <h1>{{ spec.title }}</h1>
                {{ spec.text }}
                {% for disease in diseases %}
                    <ul uk-accordion="duration:800">
                        <li>
                            <a class="uk-accordion-title uk-padding-small uk-box-shadow-small border-default"
                               href="#"><span
                                    uk-icon="icon: list"></span> {{ disease.title }} </a>
                            <div class="uk-accordion-content">
                                {{ disease.text|linebreaks }}
                                <br>
                                <div class="uk-section">
                                    <div class="uk-flex uk-flex-center uk-flex-wrap">
                                        {% for video in videos %}
                                            {% if video.disease == disease %}
                                                <div class="uk-padding">
                                                    <iframe width="600" height="400"
                                                            src="https://www.youtube.com/embed/{{ video.link }}?controls=0"
                                                            title="YouTube video player" frameborder="0"
                                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                            allowfullscreen></iframe>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
                {% if slider %}
                    <div uk-slider="autoplay: true">
                        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
                             uk-slider="clsActivated: uk-transition-active; center: true">
                            <ul class="uk-slider-items uk-grid">
                                {% for slide in slider %}
                                    <li class="uk-width-3-4">
                                        <div class="uk-panel">
                                            <img src="{{ slide.photo.url }}" width="1800" height="1200" alt="">
                                            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                                <p class="uk-margin-remove">{{ slide.title }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                               uk-slidenav-previous
                               uk-slider-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
                               uk-slidenav-next
                               uk-slider-item="next"></a>
                        </div>
                        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
                    </div>
                {% endif %}


                {% for doctor in doctors %}
                    {#                    <a href="/medicine/{{ spec.slug }}/{{ doctor.pk }}">#}
                    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
                         uk-grid>
                        <div class="uk-card-media-top uk-cover-container">
                            <img style="width:100%;height:300px;object-fit:cover;object-position: top"
                                 src="{{ doctor.photo.url }}"
                                 alt="{{ doctor.title }}" uk-cover>
                            <canvas width="600" height="400"></canvas>
                        </div>
                        <div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">
                                    <a href="/medicine/{{ spec.slug }}/{{ doctor.pk }}">{{ doctor.title }}</a>
                                    {#                                        {{ doctor.title }}#}
                                </h3>
                                <p>{{ doctor.description|linebreaks }}</p>
                            </div>
                        </div>
                    </div>
                    {#                    </a>#}
                    {#                    {% if doctor.education_full %}#}
                    {#                        <h3>Образование</h3>#}
                    {#                        <p>#}
                    {#                            {{ doctor.education_full }}#}
                    {#                        </p>#}
                    {#                    {% endif %}#}
                    {#                    <div uk-lightbox="animation: slide">#}
                    {#                        <ul class="uk-thumbnav">#}
                    {#                            {% for certificate in certificates %}#}
                    {#                                {% if certificate.doctor == doctor %}#}
                    {#                                    <li>#}
                    {#                                        <a class="uk-inline" href="{{ certificate.photo.url }}"#}
                    {#                                           data-caption="Сертификат">#}
                    {#                                            <img style="width:100px;height:100px" src="{{ certificate.photo.url }}"#}
                    {#                                                 alt="Сертификат">#}
                    {#                                        </a>#}
                    {#                                    </li>#}
                    {#                                {% endif %}#}
                    {#                            {% endfor %}#}
                    {#                        </ul>#}
                    {#                    </div>#}
                    <hr>
                {% endfor %}
                {% if prices %}
                    <h3>Цены на услуги</h3>
                    <table class="uk-table uk-table-striped uk-table-hover">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Цена руб.</th>
                    </tr>
                    </thead>
                    {% for price in prices %}
                        <tr>
                            <td>{{ price.name }}</td>
                            <td>{{ price.cost }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </table>
                {#                <h3>Вопросы и ответы</h3>#}
                {#                <ul uk-accordion="duration:800">#}
                {#                    <li>#}
                {#                        <a class="uk-accordion-title uk-padding-small uk-box-shadow-small border-default" href="#"><span#}
                {#                                uk-icon="icon: list"></span> Задать вопрос</a>#}
                {#                        <div class="uk-accordion-content">#}
                {##}
                {#                            <form method="POST" action="{{ spec.slug }}" class="uk-form-stacked">#}
                {#                                {% csrf_token %}#}
                {#                                <div class="uk-margin">#}
                {#                                    <div class="uk-form-controls">#}
                {#                                        {{ form.name }}#}
                {#                                    </div>#}
                {#                                </div>#}
                {#                                <div class="uk-margin">#}
                {#                                    {{ form.text }}#}
                {#                                </div>#}
                {#                                {{ form.specialization }}#}
                {#                                <p class="uk-margin-medium-top">#}
                {#                                <div id="spinbutton" uk-spinner></div>#}
                {#                                <button id="sendbutton"#}
                {#                                        class="uk-button uk-button-default uk-button-large uk-box-shadow-medium"#}
                {#                                        type="submit">Отправить...#}
                {#                                </button>#}
                {#                                </p>#}
                {#                                <span class="uk-text-muted uk-text-small">Нажимая, вы даете согласие на обработку персональных данных</span>#}
                {#                            </form>#}
                {##}
                {#                        </div>#}
                {#                    </li>#}
                {#                </ul>#}
            </div>

            {#            {% for question in questions %}#}
            {#                {% if question.answer %}#}
            {#                    <p>#}
            {#                        <span class="uk-text-muted uk-text-small">{{ question.created_at }}</span> Вопрос от <b#}
            {#                            class="uk-text-muted">{{ question.name }}</b>:<br>#}
            {#                        {{ question.text }}</p>#}
            {#                    <p><b>Ответ:</b> {{ question.answer }}</p>#}
            {#                    <hr>#}
            {#                {% endif %}#}
            {#            {% endfor %}#}
        </div>
    </div>
    <hr id="map" class="uk-divider-icon">

{% endblock %}