{% extends 'main.html' %}

{% block content %}
    <div class="uk-container uk-container-expand top-page">
        <ul class="uk-breadcrumb uk-heading-divider">
            <li><a href="/">На главную</a></li>
            <li><span>Контакты и координаты</span></li>
        </ul>
    </div>
    <div class="uk-section uk-padding-remove uk-margin-medium-top">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div>
                <h1 class="uk-margin-medium-left">Наши контакты</h1>
                <div class="uk-child-width-1-1@s uk-grid-match" uk-scrollspy="target: > div; cls:uk-animation-fade"
                     uk-grid>
                    <div>
                        <div class="uk-card  uk-card-default uk-card-hover uk-card-body">
                            <h5 class="uk-heading-bullet">{{ address }}</h5>
                            <a href="tel:+7(988)8604300" class="uk-text-large">{{ phone }}</a><br>
                            <p>E-mail: <a href="mailto:{{ mail }}">{{ mail }}</a></p>
                            <hr>
                            <h3>График работы</h3>
                            <p>Понедельник- пятница с 8:00 до 19:00.<br>
                                Суббота с 9:00 до 18:00<br>
                                Воскресенье с 9:00 до 18:00</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div uk-scrollspy="cls:uk-animation-fade">
                {{ map_link|safe }}
            </div>
        </div>
    </div>
{% endblock %}
