{% extends 'main.html' %}

{% block content %}
    {#        <img src="/static/images/index-new.jpg" class="uk-hidden@l" alt="Частная клиника Андрос+, Ессентуки" uk-cover>#}
    {#        <img src="/static/images/index-new.jpg" class="uk-visible@l" alt="Частная клиника Андрос+, Ессентуки" uk-cover>#}

    <div uk-slideshow="autoplay: true; autoplay-interval: 6000">

        <ul class="uk-slideshow-items" uk-height-viewport="min-height: 100Vh">
            <li>
                <img src="/static/images/index-new.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="/static/images/index-new.jpg" alt="" uk-cover>
            </li>
        </ul>
    <ul class="uk-slideshow-nav uk-dotnav"></ul>

    <a class="bord uk-position-center-left uk-position-small uk-icon-button uk-slidenav-previous uk-icon uk-slidenav" href="#" uk-slidenav-previous="" uk-slideshow-item="previous"><svg width="14" height="24" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg" data-svg="slidenav-previous"><polyline fill="none" stroke="#000" stroke-width="1.4" points="12.775,1 1.225,12 12.775,23 "></polyline></svg></a>
    <a class="bord uk-position-center-right uk-position-small uk-icon-button uk-slidenav-next uk-icon uk-slidenav" href="#" uk-slidenav-next="" uk-slideshow-item="next"><svg width="14" height="24" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg" data-svg="slidenav-next"><polyline fill="none" stroke="#000" stroke-width="1.4" points="1.225,23 12.775,12 1.225,1 "></polyline></svg></a>

    </div>

    <div class="uk-section" uk-scrollspy="cls:uk-animation-fade">
        <div class="page-left-right">
            <div class="uk-grid-match uk-child-width-1-3@m"
                 uk-scrollspy="target: > div > h2 > span; cls:uk-animation-fade; delay: 800" uk-grid>
                <div><h2 class="uk-margin-remove-bottom uk-padding-remove uk-text-uppercase">Качественно <span
                        class="check"
                        uk-icon="icon: check; ratio: 2"></span>
                </h2>
                    <p style="font-size: 18px">Мы используем только современное оборудование. Мы используем только
                        новейшие
                        технологии лечения.</p>
                </div>
                <div><h2 class="uk-margin-remove-bottom uk-padding-remove uk-text-uppercase">Большой спектр услуг <span
                        class="check" uk-icon="icon: check; ratio: 2"></span></h2>
                    <p style="font-size: 18px">Полный спектр услуг и индивидуальный подход к каждому пациенту. Мы
                        оказываем
                        помощь по европейским стандартам.</p>
                </div>
                <div><h2 class="uk-margin-remove-bottom uk-padding-remove uk-text-uppercase">Квалифицированно <span
                        class="check" uk-icon="icon: check; ratio: 2"></span></h2>
                    <p style="font-size: 18px">В нашей клиние работают специалисты, непрерывно повышающие свою
                        квалификацию.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-left-right">
        <h2>Специалисты нашей клиники</h2>
        <div class="uk-child-width-1-3@m uk-child-width-1-5@xl" uk-grid uk-height-match="target: > div > .uk-card">
            {% for doctor in doctors %}
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img style="width:100%;height:300px;object-fit:cover;object-position: top" src="{{ doctor.photo.url }}"
                                 alt="{{ doctor.title }}">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{ doctor.title }}</h3>
                            <p>{{ doctor.education }}</p>
                            <p>{{ doctor.description }}</p>
                        </div>
                        {% if doctor.link %}
                            <div class="uk-card-footer">
                                <a href="{{ doctor.link }}" class="uk-button uk-button-text">Записаться на прием</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
{% endblock %}