{% extends 'main.html' %}

{% block content %}
    <div class="uk-container uk-container-expand uk-margin-left uk-margin-remove-right top-page">
        <ul class="uk-breadcrumb uk-heading-divider">
            <li><a href="/">На главную</a></li>
            <li><span>Лаборатория</span></li>
        </ul>
    </div>
    <div class="uk-section uk-padding-remove uk-margin-medium-top">

        <div uk-grid>
            <div class="uk-width-expand page-left-right">
                <h1>Лаборатория</h1>
                <p>Сдайте анализы крови или мочи в нашей лаборатории клиники Андрос+</p>
                <ul uk-accordion="duration:800" uk-scrollspy="target: > li; cls:uk-animation-fade">
                    <li>
                        <a class="uk-accordion-title uk-padding-small uk-box-shadow-small border-default" href="#"><span
                                uk-icon="icon: list"></span> АНАЛИЗЫ КРОВИ</a>
                        <div class="uk-accordion-content">
                            <p>Анализы крови — это одни из важнейших лабораторных исследований; любое заболевание, в
                                особенности бактериальные и вирусные инфекции, отражаются на составе крови. Исследования
                                помогают врачу с высокой точностью оценить состояние организма пациента.</p>

                            <h2>Анализы крови: виды</h2>
                            <p>Лабораторное исследование позволяет определить концентрацию любых компонентов крови — как
                                форменных элементов (эритроциты, лейкоциты, тромбоциты), так и веществ, растворенных в
                                плазме (глюкоза, гормоны). Кроме того, анализы используются для определения антител к
                                различным болезням.</p>
                            <p><b>Чаще всего проводятся следующие исследования:</b></p>
                            <ol>
                                <li>Общий анализ крови. Оценивает концентрацию и функцию форменных элементов крови.
                                    Используется для подтверждения наличия болезни, а также для профилактики ее
                                    развития. Исследование может проводиться несколько раз для оценки эффективности
                                    курса лечения — при этом оценивается активность иммунитета, насыщение эритроцитов
                                    кислородом, коагуляция, способность крови поддерживать постоянство внутренней среды
                                    и др.
                                </li>
                                <li>Биохимический анализ. Оценивает содержание микроэлементов в крови, позволяет
                                    исследовать обмен веществ в организме. С его помощью диагностируются различные
                                    гематологические, эндокринологические, онкологические заболевания. Самое
                                    распространенное показание к сдаче крови на биохимию — подозрение на сахарный
                                    диабет.
                                </li>
                                <li>Иммунологический анализ. Определяет содержание в крови иммуноглобулинов — антител к
                                    различным бактериям и вирусам.
                                </li>

                            </ol>
                            <p>Определение группы крови — сдается при необходимости переливания, а также перед сдачей
                                донорской крови.</p>
                            <p>К сдаче каждого из анализов необходимо правильно подготовиться, чтобы результаты
                                исследования были наиболее показательными.</p>

                            <h2>Правила сдачи анализов</h2>
                            <p>Большинство анализов крови требует сдачи натощак — в последний раз поесть можно за 8–12 ч
                                (в зависимости от типа исследования). Жидкости, особенно сладкие, употреблять также
                                нельзя. Единственное исключение — простая вода.</p>
                            <p>За 1–2 суток до анализа нужно перестать есть жирную пищу, воздержаться от алкогольных
                                напитков. Курение табака запрещено перед сдачей любых видов анализов. Также повлиять на
                                результаты могут активные физические нагрузки.</p>
                            <p>Поскольку в разных лабораториях применяются разные методы анализа и оценки результатов,
                                для получения наиболее объективной картины важно проходить все назначенные виды
                                исследований в одной клинике.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title uk-padding-small uk-box-shadow-small border-default" href="#"><span
                                uk-icon="icon: list"></span> АНАЛИЗЫ МОЧИ</a>
                        <div class="uk-accordion-content">
                            <p><b>У нас Вы можете выполнить следующие анализы мочи:</b></p>
                            <ul>
                                <li>Общий анализ мочи</li>
                                <li>Общий анализ мочи методом проточной цитофлуориметрии ( высокоточный тест)</li>
                                <li>Анализ мочи по Нечипоренко</li>
                                <li>Анализ мочи по Зимницкому</li>
                                <li>2-х стаканная проба</li>
                                <li>3-х стаканная проба</li>
                                <li>Биохимический анализ мочи</li>
                                <li>Скрининг белка Бенс-Джонса в моче</li>
                                <li>РН мочи</li>
                                <li>Общий белок</li>
                                <li>Микроальбумин</li>
                                <li>Амилаза</li>
                                <li>Билирубин</li>
                                <li>Глюкоза</li>
                                <li>Креатинин</li>
                                <li>Мочевина</li>
                                <li>Мочевая кислота</li>
                                <li>Кальций</li>
                                <li>Натрий, калий</li>
                                <li>Фосфор неорганический</li>
                                <li>Оксалаты</li>
                                <li>Химический анализ мочевого камня</li>
                                <li>Исследование мочи на гормоны</li>
                                <li>17-КС</li>
                                <li>17-КС хроматографический метод</li>
                                <li>Кортизол</li>
                                <li>Свободный кортизол</li>
                                <li>ДГА-S</li>
                                <li>С-пептид</li>
                                <li>Адреналин+Норадреналин (разовая моча и суточная)</li>
                                <li>Адреналин+норадреналин+дофамин</li>
                                <li>ДПИД</li>
                                <li>Комплексное исследование на катехоламины, серотонин и их метаболиты</li>
                                <li>Анализ мочи на содержание промежуточных метаболитовкатехоламинов</li>
                                <li>Токсикологическое исследование мочи ( на выявление употребления «Спайсов»,
                                    амфетамин, кокаин, экстази, метамфетамин и тд).
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr id="map" class="uk-divider-icon">

{% endblock %}
