{% extends 'main.html' %}

{% block content %}

    <section class="registration">
        <h2>Запись к врачу - {{ doctor.title }}</h2>
        {% if not bookings %}
            <p class="modal-description">Нет свободных дат</p>
        {% else %}
            <p class="modal-description">Выбор даты:</p>
            {% for booking in bookings %}

                <li>{{ booking.date }}</li>

                {% for time in booking.time.all|dictsort:"time" %}

                    {% if time.time < now and booking.date == today %}
                    {% else %}
                        <li>{{ time }}</li>
                    {% endif %}

                {% endfor %}

            {% endfor %}
        {% endif %}
    </section>

{% endblock %}