{% extends 'main.html' %}

{% block content %}

    <div class="uk-section uk-padding-remove uk-margin-medium-top">
        <div uk-grid>
            <div class="uk-width-expand page-left-right">
                <h2>Запись к врачу</h2>
                <ul uk-accordion="duration:800" uk-scrollspy="target: > li; cls:uk-animation-fade">
                    {% for doctor, dates in bookings.items %}
                        <a href="/booking/{{ booking }}">{{ booking }}</a>
                        <img style="width:300px;height:200px" src="{{ doctor.photo.url }}">
                        {% if not dates %}
                            <p>Нет свободных дат</p>
                        {% else %}
                            <a class="uk-accordion-title uk-padding-small uk-box-shadow-small border-default"
                               href="#"><span uk-icon="icon: list"></span> Выбор времени:</a>
                            <div class="uk-accordion-content"><p>Дата:</p>
                                {% for date in dates %}
                                    <li>{{ date }}</li>
                                    <li><a href="/booking/{{ doctor.pk }}/{{ date }}">{{ date }}</a></li>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {#            {% for booking in bookings %}#}
    {#                {% if booking.doctor == doctor %}#}
    {#                    <li><a href="/booking/{{ doctor.pk }}/{{ booking }}">{{ booking }}</a></li>#}
    {#                {% endif %}#}
    {#            {% endfor %}#}


    {#        {% for doctor in doctors %}#}
    {#            <li><a href="/booking/{{ doctor.pk }}">{{ doctor.title }}</a></li>#}
    {#            <li><img style="width:300px;height:200px" src="{{ doctor.photo.url }}"</li>#}
    {##}
    {##}
    {##}
    {##}
    {#            {% if not bookings %}#}
    {#            <p class="modal-description">Нет свободных дат</p>#}
    {#        {% else %}#}
    {#            <p class="modal-description">Выбор даты:</p>#}
    {##}
    {#            {% for booking in bookings %}#}
    {#                {% if booking.doctor == doctor %}#}
    {#                    <li><a href="/booking/{{ doctor.pk }}/{{ booking }}">{{ booking }}</a></li>#}
    {#                {% endif %}#}
    {#            {% endfor %}#}


    {#        {% csrf_token %}#}
    {#        {{ form.as_p }}#}
    {#        {% for book in booking %}#}
    {#            {{ book.date }}#}
    {#            {{ book.doctor }}#}
    {#            {{ book.time }}#}
    {#        {% endfor %}#}


    {#        <p>Еще не зарегистрированы? <a class="restore" href="{% url 'registration' %}">Регистрация</a></p>#}
    {#        <form class="login-form" action="{% url 'user_login' %}" method="post">#}
    {#            {% csrf_token %}#}
    {#            {{ login_form.as_p }}#}
    {#            <p class="login-help">#}
    {#                <label class="login-checkbox">#}
    {#                    <input type="checkbox" name="remember" class="visually-hidden">#}
    {#                    <span class="checkbox-indicator"></span>#}
    {#                    Запомните меня#}
    {#                </label>#}
    {#                <a class="restore" href="#">Я забыл пароль!</a>#}
    {#            </p>#}
    {#            <button class="button" type="submit">Войти</button>#}
    {#        </form>#}
    {#        <button class="modal-close" type="button">Закрыть</button>#}

{% endblock %}