{% extends 'main.html' %}

{% block content %}
<button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example">Open</button>
<div class="uk-container uk-container-small form-popup">
<form method="post" action="/booking">
{% csrf_token %}
<fieldset class="uk-fieldset">
        <legend class="uk-legend">Запись на приём</legend>
        <h4>Администратор клиники ответит на ваши вопросы и запишет в специалисту</h4>

        <div class="uk-margin">
            <label for="spec">Your spec: </label>
            <select class="uk-select" aria-label="Select" id="spec" name="spec">
                {% for choice in form.spec %}
                    {% if choice %}
                        <option>{{ choice }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="uk-margin">
            <label for="spec">Your doctor: </label>
            <select class="uk-select" aria-label="Select" id="doctor" name="doctor">
                {% for choice in form.doctor %}
                    <option>{{ choice }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="uk-margin">
            <label for="name">Your name: </label>
            <input class="uk-input" aria-label="Input" id="name" type="text" name="name" maxlength="100" required>
        </div>

        <div class="uk-margin">
            <label for="phone">Your phone: </label>
            <input class="uk-input" aria-label="Input" id="phone" type="text" name="phone" maxlength="100" required>
        </div>

{#    <div class="form-body">#}
{#        {% for field in form %}#}
{#        <div class="fieldWrapper">#}
{#            {{ field.errors }}#}
{#            {{ field.label_tag }} {{ field }}#}
{#        </div>#}
{#        {% endfor %}#}
{#    </div>#}

    <div class="form-footer">
        <button class="uk-button uk-button-default">Отправить</button>
    </div>
    </fieldset>
    </form>
{#    <ul class="uk-breadcrumb uk-heading-divider">#}
{#        <li><a href="/">На главную</a></li>#}
{#        <li><a>Запись на приём</a></li>#}
{#    </ul>#}



{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#        <button type="submit">Записаться</button>#}
{#    </form>#}
</div>
{% endblock %}




