{% extends 'main.html' %}

{% block content %}






    <section class="registration">
        <h2>Запись к врачу</h2>
        <p class="modal-description">Выбор врача:</p>
        {% for doctor in doctors %}

            <li><a href="/booking/{{ doctor.pk }}">{{ doctor.title }}</a></li>
            <li><img style="width:300px;height:200px" src="{{ doctor.photo.url }}"</li>
        {% endfor %}

{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        {% for book in booking %}#}
{#            {{ book.date }}#}
{#            {{ book.doctor }}#}
{#            {{ book.time }}#}
{#        {% endfor %}#}



{#        <p>Еще не зарегистрированы? <a class="restore" href="{% url 'registration' %}">Регистрация</a></p>#}
{#        <form class="login-form" action="{% url 'user_login' %}" method="post">#}
{#            {% csrf_token %}#}
{#            {{ login_form.as_p }}#}
{#            <p class="login-help">#}
{#                <label class="login-checkbox">#}
{#                    <input type="checkbox" name="remember" class="visually-hidden">#}
{#                    <span class="checkbox-indicator"></span>#}
{#                    Запомните меня#}
{#                </label>#}
{#                <a class="restore" href="#">Я забыл пароль!</a>#}
{#            </p>#}
{#            <button class="button" type="submit">Войти</button>#}
{#        </form>#}
{#        <button class="modal-close" type="button">Закрыть</button>#}
    </section>

{% endblock %}