{#TODO: request, title, description, phone(+7(988)8604300), phone_title(+7(988)860-43-00), #}
{#TODO: mail(andros-008@mail.ru)#}
{#TODO: booking(https://booking.medflex.ru/?user=d2264a28a42691145544d9fea59cf0c9)#}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|default:'ru' }}">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
{#    <meta name="yandex-verification" content="2aedf258cb6d5bea"/>#}
    {#    <meta name="google-site-verification" content="KIuwbwzsSKi5ed5GZ1TfltI9Bx7S38eYNjmhY-JlQyg"/>#}
    <meta name="description" content="{{ description }}"/>
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    {% include 'inc/_scripts.html' %}
</head>

<body>
{% include 'inc/_sticky.html' %}

{% block content %}CONTENT{% endblock %}

{% include 'inc/_footer.html' %}
</body>
</html>

