<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|default:'ru' }}">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
{#    TODO: включить верификацию перед продом#}
{#    <meta name="yandex-verification" content="2aedf258cb6d5bea"/>#}
    {#    <meta name="google-site-verification" content="KIuwbwzsSKi5ed5GZ1TfltI9Bx7S38eYNjmhY-JlQyg"/>#}
    <meta name="description" content="{{ description }}"/>
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% include 'inc/_scripts.html' %}
</head>
<body>
{% include 'inc/_sticky.html' %}
{% block content %}CONTENT{% endblock %}
{% include 'inc/_footer.html' %}
</body>
</html>

