<footer class="uk-section uk-light footer">
    <div class="uk-container" uk-scrollspy="target: > div; cls:uk-animation-slide-bottom">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div>
                <ul class="uk-subnav uk-subnav-line">
                    <li><a href="/about">О клинике</a></li>
                    <li><a href="/medicine">Врачи</a></li>
                    <li><a href="/laborators">Лаборатория</a></li>
                    <li><a href="/prices">Цены</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
                <div class="soc uk-margin-bottom">
                    <a href="https://www.instagram.com/clinic_andros_essentuki/" title="instagram"
                       class="uk-icon-button" uk-icon="instagram" target="_blank" rel="noopener"></a>
                </div>
                <a href="tel:+7(988)8604300" title="Звонок бесплатный" class="uk-text-large">+7 (988) 860-43-00</a>
                <br>
                <div><span uk-icon="location"></span> Ставропольский край, Ессентуки, ул. Разумовского, д. 7</div>
            </div>
            <div>
                <p>© {{ date }} Частная клиника "Андрос+" г. Ессентуки.<br>
                </p>
                <div><a href="#" title="Вверх" class="uk-icon-button" uk-totop></a> к началу страницы</div>
                <p><!-- Yandex.Metrika informer --> <a
                        href="https://metrika.yandex.ru/stat/?id=56702893&amp;from=informer" target="_blank"
                        rel="nofollow"><img
                        src="https://informer.yandex.ru/informer/56702893/1_0_EFEFEFFF_EFEFEFFF_0_uniques"
                        style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика"
                        title="Яндекс.Метрика: данные за сегодня (уникальные посетители)"/></a>
                    <!-- /Yandex.Metrika informer --> <!-- Yandex.Metrika counter -->
                    <script type="text/javascript"> (function (m, e, t, r, i, k, a) {
                        m[i] = m[i] || function () {
                            (m[i].a = m[i].a || []).push(arguments)
                        };
                        m[i].l = 1 * new Date();
                        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
                    })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
                    ym(56702893, "init", {clickmap: true, trackLinks: true, accurateTrackBounce: true}); </script>
                    <noscript>
                <div><img src="https://mc.yandex.ru/watch/56702893" style="position:absolute; left:-9999px;" alt=""/>
                </div>
                </noscript> <!-- /Yandex.Metrika counter --></p>
            </div>
        </div>
    </div>
</footer>