<!-- Навигация -->
<nav class="uk-navbar-container top-menu uk-visible@m" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="/">Главная</a></li>
            {#         <li><a href="/about">О клинике</a></li>#}
            <li><a href="/medicine">Врачи</a></li>
            <li><a href="/laborators">Лаборатория</a></li>
            <li><a href="/prices">Цены</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </div>
</nav>