{% load static %}
<header class="uk-cover-container" uk-height-viewport="">
    <!-- Липкая панель -->
    <div class="index-fon-top" uk-sticky>
        <div class="uk-position-top-left uk-padding-remove uk-flex top-set-left">
            <a href="" title="Открыть меню" uk-toggle="target: #offcanvas-nav-primary">
                <div class="top menu uk-hidden@l"><i class="flaticon-menu" style="font-size:35px"></i></div>
            </a>
            <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
                <nav class="uk-offcanvas-bar uk-flex uk-flex-column">
                    <ul class="uk-nav uk-nav-primary uk-margin-auto-vertical">
                        <li><a href="/" target="_self"><span class="uk-margin-small-right" uk-icon="icon: home"></span> На
                            главную <span uk-icon="chevron-right"></span></a></li>
                        <li><a href="/about" target="_self"> О клинике <span uk-icon="chevron-right"></span></a></li>
                        <li><a href="/medicine" target="_self"> Врачи <span uk-icon="chevron-right"></span></a></li>
                        <li><a href="/laborators" target="_self"> Лаборатория <span uk-icon="chevron-right"></span></a></li>
                        <li><a href="/prices" target="_self"> Цены <span uk-icon="chevron-right"></span></a></li>
                        <li><a href="/contacts" target="_self"> Контакты <span uk-icon="chevron-right"></span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="uk-margin-top uk-visible@l">
                <span class="tit-1">Частная клиника "Андрос+"</span><br>
                <span class="tit-2 uk-text-small">Медицинское учреждение, г. Ессентуки</span>
            </div>
        </div>
        <div class="uk-position-top-right uk-padding-remove uk-flex uk-flex-right top-set-right">

            <a href="tel:{{ phone }}" title="{{ phone_title }}">
                {#      <a href="tel:+7(988)8604300" title="+7(988)860-43-00">#}
                <div class="top"><i class="flaticon-phone-1" style="font-size:30px"></i> <span
                        class="uk-margin-small-left uk-visible@s">+7 (988) 860-43-00</span></div>
            </a>
            <a href="/contacts#map" title="Адреc">
                <div class="top"><i class="flaticon-pin" style="font-size:30px"></i></div>
            </a>
            <a href="mailto:{{ mail }}" title="E-mail">
                <div class="top"><i class="flaticon-mail" style="font-size:30px"></i></div>
            </a>
            <a href="{{ booking }}" title="Записаться на прием">
            <div class="top bron uk-text-uppercase" style="background-color:red; color:white"><i class="flaticon-hotel"
                                                                                                 style="font-size:35px"></i>
                <span class="uk-margin-small-left uk-visible@l">Запись на<br>прием</span></div>
            </a>
        </div>
        <div>
            <div class="uk-flex">
                <img src="{% static '/images/logo-2020.png' %}" class="fon-top-img" alt="Частная клиника Андрос+">
                {% include 'inc/_nav.html' %}
            </div>
        </div>
    </div>
    <!-- Конец липкой панели -->
{#    {% include 'inc/_video.html' %}#}
{#    @yield('video')#}
</header>